body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

pre {
  padding: 5px 10px;
  border-radius: 2px;
  margin: 0;
  border-top: 4px solid #00aeef;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}

pre.entropy {
    background: #303030;
    color: #f1f1f1;
}

pre span {
    counter-increment: line;
}
pre.entropy span:before {
  text-align: right;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  /* padding: 0 .5em; */
  padding-right: 5px;
  margin-right: .5em;
  color: #888;
  width: 30px;
}

pre.entropy span {
  width: 95px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis
}

div.container {
  display: flex;
}

div.container pre:first-child {
  width: 120px;
}

div.container pre:last-child {
  width: 100%;
}

div.container pre {
  overflow-x: auto;
}