{% extends "layout.html" %}

{% block content %}
<h1>
    Code Completion
    <button class="uk-align-right uk-margin-small-top uk-button uk-button-default" type="button"
        uk-toggle="target: #toggle; animation:  uk-animation-fade"><span uk-icon="pencil"></span></button>
</h1>

<div id="toggle">
    <p>
        <label>
            Context (10 lines)
            <textarea class="uk-textarea" rows="10" id="content" name="content"></textarea>
        </label>
    </p>
    <p>
        <label>
            Number of proposals
            <input class="uk-input" type="number" min="1" max="100" value="10" id="proposals-count" name="proposals-count"/>
        </label>
        </p>
    <button class="uk-button uk-button-primary" id="submit" type="button">Request proposals</button>
    
    <h2>Proposals</h2>
</div>

<div class="uk-width-1-1 uk-padding-small">
    <table class="uk-table uk-table-small uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-1-2 uk-text-right">Token</th>
                <th class="uk-width-1-2 uk-text-left">Probabibility</th>
            </tr>
        </thead>
        <tbody id="result">

        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
<script>
    let result = $('#result');
    let loading = $('#loading');

    $('#submit').click(function() {
        result.empty();
        loading.show();

        let data = {
            content: $('#content').val(),
            proposalsCount: $('#proposals-count').val(),
        };

        axios.post('/autocompletion', data).then(response => {

            let items = response.data;
            $.each(items, (index => {
                let item = items[index];
                result.append(`<tr><td class="uk-text-right">${item[0]}</td><td>${(item[1] * 100).toFixed(2)} %</td></tr>`)
            }));

            $( ".result" ).html( response.data );
        }).catch(error => {
            console.log(error)
        }).finally(() => {
            loading.hide();
        });
    });

</script>
{% endblock %}