{% extends "layout.html" %}

{% block content %}
<h1>
    Entropy-debugger
</h1>

<div class="uk-margin-small">
    Selected model: <span id="current-model"></span> <a class="uk-button uk-button-text" id="open-selectlm-modal" uk-icon="icon: pencil"></a>
</div>

<div class="uk-margin-small">
    <p>
        <label>
            Code
            <textarea class="uk-textarea" rows="10" id="content" name="content">
public class Test {
    public static void main(String[] args) {
    }
}</textarea>
        </label>
    </p>

    <button class="uk-button uk-button-primary" id="submit" type="button">Calculate entropies</button>
</div>

<div class="entropy-settings">
    <h3 class="uk-margin-small">Options</h3>
    <div>
        <label>
            <input type="checkbox" class="uk-checkbox" id="show-borders"> Token framing
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" class="uk-checkbox" id="show-colors"> Use only black color
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" class="uk-checkbox" id="show-entropies"> Visualize entropies 
        </label>
        <a class="uk-button uk-button-text" id="open-colors" uk-icon="icon: pencil"></a>
    </div>
</div>

<div class="uk-flex uk-width-1-1" id="split-container">
    <div class="split preview" id="one">
        <pre id="result"><span></span></pre>
    </div>
    <div class="split" id="two">
        <pre id="code"><span></span></pre>
    </div>
</div>

<div id="metadata" class="uk-margin">

</div>

{% include 'modal_select_model.html' %}

<div id="modal-color-mapping" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Visualizing entropies</h2>
        <div id="colors">

        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default" id="modal-color-mapping-abort" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" id="modal-color-mapping-save" type="button">Save</button>
        </p>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
    Split(['#one', '#two'], {sizes: [25, 75]});
    $('.gutter.gutter-horizontal').addClass('uk-flex uk-flex-middle uk-flex-center').html('<span uk-icon="icon: more-vertical; ratio: 4"></span>');

    /* editor options */
    $('#show-borders').change(function(e) {
        let checked = $(this).is(':checked');
        if(checked) {
            $('#code').addClass('show-borders')
        } else {
            $('#code').removeClass('show-borders')
        }
    });

    $('#show-colors').change(function(e) {
        let checked = $(this).is(':checked');
        if(checked) {
            $('#code').addClass('show-colors')
        } else {
            $('#code').removeClass('show-colors')
        }
    });

    $('#show-entropies').change(function(e) {
        let checked = $(this).is(':checked');
        if(checked) {
            $('#code').addClass('show-entropies')
        } else {
            $('#code').removeClass('show-entropies')
        }
    });
    /* end editor options */

    
    let result = $('#result');
    let code = $('#code');
    let loading = $('#loading');
    let btnSubmit = $('#submit');

    btnSubmit.click(function () {
        loading.show();
        btnSubmit.attr('disabled', 'disabled');
        $('#metadata').empty();
        result.html('<span></span>');
        code.html('<span></span>');
        let data = {
            extension: ".java",
            languageId: "java",
            filePath: "demo/temp",
            noReturn: false,
            timestamp: Date.now(),
            content: $('#content').val(),
            resetContext: true,
            model: currentModel,
        };

        axios.post('/languagemodel', data).then(response => {
            console.log(response.data);
            let entropies = response.data.entropies;
            let metadata = response.data.metadata;
            insertLines({target: result, lines: entropies.map(e => e.aggregated_result.bin_entropy.toFixed(5))});
            formatEntropies(entropies, code, colorMapping);
            displayMetadata(metadata, $('#metadata'));
        }).catch(error => {
            console.log(error)
        }).finally(() => {
            loading.hide();
            btnSubmit.removeAttr('disabled');
        });
    });

</script>
{% endblock %}