{% extends "layout.html" %}

{% block content %}
<h1>{{file['name']|safe}}</h1>

<div class="uk-flex">
    <div class="split preview" id="one">
        <span>Entropies</span>
        <pre id="entropy">{%for line in entropyContent%}<span>{{line.aggregated_result.bin_entropy|round(5, 'floor')|safe}}</span>{%endfor%}</pre>
    </div>
    <div class="split" id="two">
        <span>Code</span>
        <pre id="code">{%for line in fileContent%}<span>{{line|safe}}</span>{%endfor%}</pre>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/split.min.js') }}"></script>
<script>
    let projectHash = '{{projecthash|safe}}';
    let fileHash = '{{filehash|safe}}';

    Split(['#one', '#two'], {sizes: [25, 75]});
    $('.gutter.gutter-horizontal').addClass('uk-flex uk-flex-middle uk-flex-center').html('<span uk-icon="icon: more-vertical; ratio: 4"></span>');

    $(document).ready(function() {
        let code = $('#code');
        let data = {{entropyContentJson|safe}};
        formatEntropies(data, code);
    })

</script>
{% endblock %}