{% extends "layout.html" %}

{% block content %}
<h1>
    Project overview {{project['name']}}
</h1>

<ul class="uk-list">
    {%for hash in project['files']%}
        <li class="">
            <a href="/overview/{{projecthash}}/{{hash}}" class="uk-padding-small uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                <h3 class="uk-card-title"><span class="uk-link-heading">{{project['files'][hash]['name']}}</span></h3>
                <p>Relaitve-path: {{project['files'][hash]['relpath']}}</p>
                <p>Absolute-path: {{project['files'][hash]['path']}}</p>
            </a>
        </li>
    {%endfor%}
</ul>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}