<div id="modal-select-model" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Select a languagemodel</h2>
        <p>
            <select class="uk-select" id="lm-select">
                {% for identifier in models %}
                    <option value="{{identifier}}">{{models[identifier].model_description.id}}</option>
                {% endfor %}
            </select>
        </p>
        {% for identifier in models %}
            <div data-identifier="{{ identifier }}" style="display: none">
                <p><b>Description</b></p>
                <p>
                    ID: {{models[identifier].model_description.id|safe}}</br>
                    BPE-merges: {{models[identifier].model_description.bpe_merges|safe}}</br>
                    Layers-config: {{models[identifier].model_description.layers_config|safe}}</br>
                    Arch: {{models[identifier].model_description.arch|safe}}</br>
                    Bin-entropy: {{models[identifier].model_description.bin_entropy|safe}}</br>
                    Training time per epoch: {{models[identifier].model_description.training_time_minutes_per_epoch|safe}} minutes</br>
                    N-epochs: {{models[identifier].model_description.n_epochs|safe}}</br>
                    Best epoch: {{models[identifier].model_description.best_epoch|safe}}</br>
                    Tags: {{models[identifier].model_description.tags|safe}}</br>
                </p>
            </div>
        {% endfor %}
        <p class="uk-text-right">
            <button class="uk-button uk-button-default" id="modal-abort" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" id="modal-save" type="button">Select</button>
        </p>
    </div>
</div>